<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781534915945-l0tkevta8s8hk8ik66smr4cbq99lg8m6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781534915945-l0tkevta8s8hk8ik66smr4cbq99lg8m6</string>
	<key>API_KEY</key>
	<string>AIzaSyCYjCOD7dd-gnqF6TduNXRHOQODSReD-f0</string>
	<key>GCM_SENDER_ID</key>
	<string>781534915945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.remoteCongigueDemoapp</string>
	<key>PROJECT_ID</key>
	<string>remote-configue-demo1</string>
	<key>STORAGE_BUCKET</key>
	<string>remote-configue-demo1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781534915945:ios:50264a92f068edbbbe61f8</string>
</dict>
</plist>